.and {
  display: block;
  text-align: center;
}

#about {
  flex-direction: column;
}

#navbar ul {
  margin: 0;
}

#navbar ul li {
  flex: 1;
  margin-left: 0;
}

#contact .contact-infos {
  flex-direction: column-reverse;
}

.other ul li:first-child {
  padding-top: 0;
}