.and {
  display: block;
  text-align: center;
}

#about {
  flex-direction: column-reverse;
}

#navbar ul {
  margin: 0;
  justify-content: space-between;
  padding-left: .5rem;
  padding-right: .5rem;
}

#navbar ul li a:link,
#navbar ul li a:visited,
.resume-btn:link,
.resume-btn:visited {
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding-bottom: .7rem;
}

#navbar ul li {
  margin-left: 0;
}

header .glitch {
  padding-bottom: 2rem;
}

#about .skills,
#about .whoAmI {
  flex: 1;
  padding: 1rem 1rem;
}

#contact .contact-infos {
  flex-direction: column-reverse;
}

.other ul li:first-child {
  padding-top: 0;
}

header .text h1 {
  font-size: 3rem;
  margin: 0;
}

header .text h3 {
  font-size: 1.3rem;
}